.root {
	-fx-base: white;
}

.ej-toolbar {
	-fx-spacing: 0;
}

.ej-toolbar-item {
	-fx-background-color: transparent
}

.ej-toolbar-item:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
		-fx-inner-border, -fx-body-color;
}



.ej-column-header-left .label {
	-fx-alignment: CENTER_LEFT;
	-fx-label-padding: 2;
}

.ej-column-header-right .label {
	-fx-alignment: CENTER_RIGHT;
	-fx-label-padding: 2;
}

.ej-column-header-center .label {
	-fx-alignment: CENTER;
	-fx-label-padding: 2;
}

.empty-titled-pane>.title {
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
	-fx-padding: 0 0 0 0; /* 2 10 3 10 */
}